{%- if section.settings.collection_filtering_handle == 'storefront_filtering' -%}
<div class="sidebar-wrapper shop-sidebar storefront-filter">
  <form class="filter-form" name="testform" id="myform">
    <div class="blog-sidebar sidebar-single selected-filter-value">
      <ul class="blog-tags">
        {%- for filter in collection.filters -%}
        {% if filter.type == "price_range"  %}
        {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
        <li>
          <a class="active-filter-data-remove" href="{{ filter.url_to_remove }}">
            {%- assign min_value = filter.min_value.value | default: 0 -%}
            {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
            {{ min_value | money }} - {{ max_value | money }} <i class="pe-7s-close"></i>
          </a>
        </li>
        {%- endif -%}
        {% endif %}
        {%- for filter_value in filter.active_values -%}
        <li>
          <a class="active-filter-data-remove" href="{{ filter_value.url_to_remove }}">
            {{ filter_value.label }} <i class="pe-7s-close"></i>
          </a>
        </li>
        {%- endfor -%}
        {%- endfor -%}
        <li class="active">
          <a href="{{ collection.url }}" class="active-filters-clear">Clear all</a>
        </li>
      </ul>
    </div>
    
    {%- for filter in collection.filters -%}
    {%- case filter.type -%}
    {%- when 'list' -%}
    
    <div class="sidebar widget-collapse">
      <h5 class="sidebar-title {% unless filter.active_values.size > 0 %}widget-collapse-show{% endunless %}">
        {{ filter.label }}
      </h5>
      <div class="widget-collapse-hide" {% unless filter.active_values.size > 0 %}style="display: none;"{% endunless %}>
        <div class="filter-value-counter">
          <span class="filter-value-selected">{{ filter.active_values.size }} selected</span>
          {%- if filter.active_values.size > 0 -%}
          <a href="{{ filter.url_to_remove }}" class="filter-reset-selected-value">Reset</a>
          {%- endif -%}
        </div>
        <ul class="sidebar-list checkbox-container categories-list">
          {%- for filter_value in filter.values -%}
          <li>
            <div class="custom-control custom-checkbox">
              <input type="checkbox"
                     name="{{ filter_value.param_name }}"
                     value="{{ filter_value.value }}"
                     id="Filter-{{ filter.label | handle }}-{{ forloop.index }}"
                     {% if filter_value.active -%}checked{%- endif %}
                    {% if filter_value.count == 0 and filter_value.active == false %}disabled{% endif %}
                     class="custom-control-input"
                     >
              <label for="Filter-{{ filter.label | handle }}-{{ forloop.index }}" class="custom-control-label">{{ filter_value.label | escape }} ({{ filter_value.count }})</label>
            </div>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
    
    {%- when 'price_range' -%}
    <div class="sidebar widget-collapse">
      <h5 class="sidebar-title">
        {{ filter.label }}
      </h5>
      <div class="sidebar-body widget-collapse-hide">
        <div class="filter-value-counter">
          {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
          <span class="filter-value-selected">
            {%- assign min_value = filter.min_value.value | default: 0 -%}
            {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
            Price: {{ min_value | money }} - {{ max_value | money }}
          </span>
          <a href="{{ filter.url_to_remove }}" class="filter-reset-selected-value">Reset</a>
          {%- else -%}
          <span class="filter-value-selected">{{ filter.active_values.size }} selected</span>
          {%- endif -%}
        </div>
        <div class="checkbox-container categories-list sidebar-price-filter">
          
          <div class="filter-range-from">
            <span>{{ cart.currency.symbol }}</span>
            <input name="{{ filter.min_value.param_name }}"
                   id="Filter-{{ filter.label | handle }}-{{ forloop.index }}"
                   {% if filter.min_value.value -%}
                   value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                   {%- endif %}
                  type="number"
                   placeholder="0"
                   min="0"
                   max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                   >
            <label for="Filter-{{ filter.label | handle }}-{{ forloop.index }}">From</label>
          </div>
          <div class="filter-price-range-to">
            <span>{{ cart.currency.symbol }}</span>
            <input name="{{ filter.max_value.param_name }}"
                   id="Filter-{{ filter.label | handle }}-{{ forloop.index }}"
                   {% if filter.max_value.value -%}
                   value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                   {%- endif %}
                  type="number"
                   placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                   min="0"
                   max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                   >
            <label for="Filter-{{ filter.label | handle }}-{{ forloop.index }}">To</label>
          </div>
          
        </div>
        <input class="mt-20 theme-default-button" type="submit" value="Filter">
      </div>
    </div>
    {%- endcase -%}
    {%- endfor -%}
  </form>
</div>

<script>  
  /* Slidebar collapse */ 
  $('.widget-collapse h5').on("click", function(){
    $(this).siblings('.widget-collapse-hide').slideToggle();
    $(this).toggleClass('widget-collapse-show');
  });

  $('input[type="checkbox"]').click(function() {
    setTimeout(function() {
      $('form[name="testform"]').submit();
    }, 500);
  });
</script>
{%- elsif section.settings.collection_filtering_handle == 'tag_filtering' -%}

<div class="shop-sidebar"> 
  {% for block in section.blocks %}
  {% case block.type %}

  {% when 'search' %}
  <div class="sidebar">
    {%- if block.settings.search_title != '' -%}
    <h4 class="sidebar-title">{{ block.settings.search_title }}</h4>
    {%- endif -%}
    <div class="sidebar-search">
      <form action="/search" method="get" class="" role="search">
        <input type="hidden" name="type" value="product">
        <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ block.settings.sidebar_search_placeholder }}" aria-label="{{ 'general.search.placeholder' | t }}"> 
        <input type="submit" value="{{ block.settings.sidebar_search_form_button_text }}">
      </form> 
    </div>
  </div>

  {% when 'menu' %}
  <div class="sidebar">
    {%- if block.settings.menu_title != '' -%}
    <h4 class="sidebar-title">{{ block.settings.menu_title }}</h4>
    {%- endif -%}
    <ul class="sidebar-list">
      {% assign menu = block.settings.menu_handle %}
      {% for link in linklists[menu].links %}
      <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% when 'category' %}
  <div class="sidebar">
    {%- if block.settings.categories_title != '' -%}
    <h4 class="sidebar-title">{{ block.settings.categories_title }}</h4>
    {%- endif -%}
    <ul class="sidebar-list">
      {% assign categories_list_limit = block.settings.categories_list_limit_hanlde %}
      {% for c in collections limit: categories_list_limit %}
      <li class="{% if collection and collection.handle == c.handle %}active{% endif %}"><a href="{{ c.url }}">{{ c.title }} <span>({{ c.products_count }})</span></a></li>
      {% endfor %}
    </ul>
  </div>

  {% when 'vendor' %}
  <div class="sidebar">
    {%- if block.settings.vendors_title != '' -%}
    <h4 class="sidebar-title">{{ block.settings.vendors_title }}</h4>
    {%- endif -%}
    <ul class="sidebar-list">
      {% assign vendors_list_limit = block.settings.vendors_list_limit_hanlde %}
      {% for product_vendor in collection.all_vendors limit: vendors_list_limit %}
      <li class="{% if collection.current_vendor %}active{% endif %}"><a href="{{ product_vendor | url_for_vendor }}">{{ product_vendor }}</a></li> 
      {% endfor %}
    </ul>
  </div>

  {% when 'type' %}
  <div class="sidebar">
    {%- if block.settings.types_title != '' -%}
    <h4 class="sidebar-title">{{ block.settings.types_title }}</h4>
    {%- endif -%}
    <ul class="sidebar-list">
      {% assign types_list_limit = block.settings.types_list_limit_hanlde %}
      {% for product_type in collection.all_types limit: types_list_limit %}
      <li class="{% if collection.current_type %}active{% endif %}"><a href="{{ product_type | url_for_type }}">{{ product_type }}</a></li> 
      {% endfor %}
    </ul>
  </div>

  {% when 'color' %}
  <div class="sidebar product-sidebar-color">
    {%- if block.settings.color_title != '' -%}
    <h4 class="sidebar-title">{{ block.settings.color_title }}</h4>
    {%- endif -%}
    <ul class="sidebar-list">
      {% assign tags = block.settings.color_picker | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
      {% assign colors_list_limit = block.settings.colors_list_limit_hanlde %}

      {% for t in tags limit: colors_list_limit %}
      {% assign tag = t | strip %}
      {%- if current_tags contains tag -%}
      <li class="{{ tag }} active" style="background: {{ tag }} no-repeat center; background-size: initial;"><a href="/collections/all/{{ tag | handle }}"></a></li>
      {%- elsif collection.all_tags contains tag -%}
      <li class="{{ tag }}" style="background: {{ tag }} no-repeat center; background-size: initial;"><a href="/collections/all/{{ tag | handle }}"></a></li>
      {%- endif -%}
      {% endfor %}
    </ul>
  </div>


  {% when 'size' %}
  <div class="sidebar">
    {%- if block.settings.size_title != '' -%}
    <h4 class="sidebar-title">{{ block.settings.size_title }}</h4>
    {%- endif -%}
    <ul class="tag-cloud">
      {% assign tags = block.settings.size_picker | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
      {% assign size_list_limit = block.settings.size_list_limit_hanlde %}

      {% for t in tags limit: size_list_limit %}
      {% assign tag = t | strip %}
      {%- if current_tags contains tag -%}
      <li class="active"><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
      {%- elsif collection.all_tags contains tag -%}
      <li><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
      {%- endif -%}
      {% endfor %}
    </ul>
  </div>

  {% when 'tag' %}
  <div class="sidebar">
    {%- if block.settings.tags_title != '' -%}
    <h4 class="sidebar-title">{{ block.settings.tags_title }}</h4>
    {%- endif -%}
    <ul class="tag-cloud">
      {% assign tags_list_limit = block.settings.tags_list_limit_hanlde %}

      <li{% unless current_tags %} class="active"{% endunless %}>
        {% if collection.handle %}
        <a href="/collections/{{ collection.handle }}{% if collection.sort_by %}?sort_by={{ collection.sort_by }}{% endif %}">All</a>
        {% elsif collection.current_type %}
        <a href="{{ collection.current_type | url_for_type | sort_by: collection.sort_by }}">All</a>
        {% elsif collection.current_vendor %}
        <a href="{{ collection.current_vendor | url_for_vendor | sort_by: collection.sort_by }}">All</a>
        {% endif %}
      </li>
      {% for tag in collection.all_tags limit: tags_list_limit %}
      {% if current_tags contains tag %}
      <li class="active">
        {{ tag | link_to_remove_tag: tag }}
      </li>
      {% else %}
      <li>
        {{ tag | link_to_tag: tag }}
      </li>
      {% endif %}
      {% endfor %}
      
    </ul>
  </div>

  {% when 'banner' %}
  <div class="sidebar">
    {%- if block.settings.banner_title != '' -%}
    <h4 class="sidebar-title">{{ block.settings.banner_title }}</h4>
    {%- endif -%}
    <div class="sidebar-banner banner">
      {% if block.settings.sidebar_banner_imgae != blank %}
      <a href="{{ block.settings.sidebar_banner_imgae_url }}">
        <img src="{{ block.settings.sidebar_banner_imgae | img_url: 'master' }}" alt="{{ block.settings.sidebar_banner_imgae.alt }}">
      </a>
      {% else %}
      <img src="https://dummyimage.com/600x400/cccccc/fff&text=Banner" alt="Banner Image">
      {% endif %}
    </div>
  </div>

  {% endcase %}
  {% endfor %}

</div>


<script>
  $(".sidebar-wedget li.active a").removeAttr("href");
</script>
{%- endif -%}