{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
{%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}

{%- assign variant = product.selected_or_first_available_variant -%}

{%- if product.available -%}
{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}
{%- endif -%} 


<div class="row">
  <div class="col-md-4">
    <a href="{{ product.url | within: collection }}">
      <img class="lazyload" data-src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>

  <div class="col-md-8">
    <h6>
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </h6>

    <div class="">
      <span class="">{{ product.variants.first.price | money }} 
        {% if product.variants.first.compare_at_price > product.variants.first.price %}
        <span class="">{{ product.variants.first.compare_at_price | money }}</span>
        {% endif %}
      </span>
    </div>


    <div class="product-description">
      {%- if product.description contains '[short_description]' -%} 
      {%- assign short_description_first = product.description | split:'[/short_description]' | first -%}
      {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
      {{ short_description_final }}
      {%- else -%}
      {{ product.description | strip_html | truncatewords: 35 | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first | split: '[countdown]' | first }}
      {%- endif -%}
    </div>


    {% if product.description contains '[countdown]' %}
    {% assign count_down_first = product.description | split:'[/countdown]' | first %}
    {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
    <div data-countdown="{{ count_down_final }}"></div> 
    {% endif %}

    {%- unless product.description contains '[affiliate_link]' -%}
    <div class="product-cart-action">
      {% if product.available %}
      {% if settings.product_cart_type == 'ajax_spin_cart' %}
      <a href="javascript:void(0);" onclick="{{ func }}; return false;" class="ajax-spin-cart">
        <span>
          <span class="cart-title">{{ settings.cart_button_title }}</span>
          <span class="cart-loading">{{ settings.wait_title }}</span>
          <span class="cart-added">{{ settings.added_title }}</span>
          <span class="cart-unavailable">{{ settings.unavailable_title }}</span>
        </span>
      </a>
      {% elsif settings.product_cart_type == 'ajax_popup_cart' %}
      <a href="javascript:void(0);" onclick="{{ func }}; return false;" class="">
        <span>
          <span class="cart-title">{{ settings.cart_button_title }}</span>
        </span>
      </a>
      {% elsif settings.product_cart_type == 'without_ajax_cart' %}
      <form action="/cart/add" method="post" enctype="multipart/form-data">
        <select name="id" style="display:none;">
          {% for variant in product.variants %}
          <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="">
          <span>
            <span class="cart-title">{{ settings.cart_button_title }}</span>
          </span>
        </button>
      </form>
      {% endif %}
      {% else %}
      <button class="cart-disable">
        <span class="cart-text">{{ settings.soldout_button_title }}</span>
      </button>
      {% endif %}
    </div>
    {%- if settings.product_quickview_enalbe -%}
    <div>
      <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#quickViewModal" href="javascript:void(0);" 
         onclick="quiqview('{{ product.handle | handleize }}')">quick view
      </a>
    </div>
    {%- endif -%}
    {%- endunless -%}

    {%- include 'product-badge' -%}
  </div>

</div>

<br>
<br>
