{% if section.settings.about_info_area_enable == true %}
<!-- About Section Start -->
<div data-section="AboutInfo" class="about-section position-relative fix section" id="section-{{ section.id }}">

  <!-- About Section Shape -->
  {%- if section.settings.about_info_shape_1_enable == true -%}
  <div class="about-shape one rellax" data-rellax-speed="-5" data-rellax-percentage="0.5">
    <img class="lazyload" data-src="{{ section.settings.about_info_shape_1 | img_url: 'large' }}" alt="{{ section.settings.about_info_shape_1.alt }}">
  </div>
  {%- endif -%}

  {%- if section.settings.about_info_shape_2_enable == true -%}
  <div class="about-shape two rellax" data-rellax-speed="3" data-rellax-percentage="0.5">
    <img class="lazyload" data-src="{{ section.settings.about_info_shape_2  | img_url: 'large' }}" alt="{{ section.settings.about_info_shape_2.alt }}">
  </div>
  {%- endif -%}

  <div class="container">
    <div class="row align-items-center">

      <!-- About Content Start -->
      <div class="{% if section.settings.about_info_image_enable %}col-md-6 mr-auto order-2 order-md-1{% else %}col-md-12{% endif %} col-12 mb-30">
        <div class="about-content">

          {%- if section.settings.about_info_sub_title != ''  -%}
          <h3>{{ section.settings.about_info_sub_title }}</h3>
          {%- endif -%}

          {%- if section.settings.about_info_title != ''  -%}
          <h1>{{ section.settings.about_info_title }}</h1>
          {%- endif -%}

          {%- if section.settings.about_info_description != '' -%}
          <p>{{ section.settings.about_info_description }}</p>
          {%- endif -%}

          {%- if section.settings.about_info_button_text != '' -%}
          <a href="{{ section.settings.about_info_button_url }}" class="btn btn-lg btn-round">{{ section.settings.about_info_button_text }}</a>
          {%- endif -%}
        </div>
      </div><!-- About Content End -->

      <!-- About Image Start -->
      {% if section.settings.about_info_image_enable %}
      <div class="col-lg-5 col-md-6 col-12 order-1 order-md-2 mb-30">
        <div class="about-image">
          {%- if section.settings.about_info_image -%}
          <img class="lazyload" data-src="{{ section.settings.about_info_image | img_url: 'large' }}" alt="{{ section.settings.about_info_image.alt }}">
          {%- else -%}
          <img src="https://via.placeholder.com/404x457" alt="{{ section.settings.about_info_image.alt }}">
          {% endif %}
          {%- if section.settings.about_info_image_shape_enable -%}
          <span class="shape"></span>
          {%- endif -%}
        </div>
      </div><!-- About Image End -->
      {% endif %}
    </div>
  </div>

</div><!-- About Section End -->
{% endif %}


{%- style -%}
  #section-{{ section.id }}{
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'section_margin' %}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {% when 'section_padding' %}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {% when 'section_background' %}    
    background: {{ block.settings.section_bg_color }} 
      {% if block.settings.section_bg_image %}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){% endif %} no-repeat scroll center center / cover;
        {% endcase %}
        {% endfor %}
        }
  @media (max-width: 767px) {
    #section-{{ section.id }} {
      {% for block in section.blocks %}
      {% case block.type %}
      {% when 'section_margin' %}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {% when 'section_padding' %}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {% endcase %}
      {% endfor %}
    }
  }


  #section-{{ section.id }} .about-content h3 {
      color: {{ section.settings.about_info_sub_title_color }};
  }
  #section-{{ section.id }} .about-content h1 {
      color: {{ section.settings.about_info_title_color }};
  }
  #section-{{ section.id }} .about-content p {
      color: {{ section.settings.about_info_description_color }};
  }
  #section-{{ section.id }} .about-content .btn {
      color: {{ section.settings.about_info_button_text_color }};
      background-color: {{ section.settings.about_info_button_text_bg_color }};
      border-color: {{ section.settings.about_info_button_text_border_color }};
      border-radius: {{ section.settings.about_info_button_border_radius }}px;
  }
  #section-{{ section.id }} .about-content .btn:hover {
      color: {{ section.settings.about_info_button_hover_text_color }};
      background-color: {{ section.settings.about_info_button_hover_text_bg_color }};
      border-color: {{ section.settings.about_info_button_hover_text_border_color }};
  }
  #section-{{ section.id }} .about-image .shape {
      border-color: {{ section.settings.about_info_image_shape_color }};
  }


{%- endstyle -%}

{% schema %}
  {
    "name": "About Info",
    "settings": [
		{
           "type": "checkbox",
           "id": "about_info_area_enable",
           "default": true,
           "label": "About Info Area Enable"
        },
		{
		  "type": "header",
          "content": "Content"
        },
		{
          "type": "text",
          "id": "about_info_sub_title",
          "label": "Sub Title",
          "default": "Sub Title"
      	},
		{
          "type": "text",
          "id": "about_info_title",
          "label": "Title",
          "default": "Title"
      	},
		{
          "type": "richtext",
          "id": "about_info_description",
          "label": "Description",
		  "default": "<p>Description here</p>"
      	},
		{
          "type": "text",
          "id": "about_info_button_text",
          "label": "Button Text",
          "default": "Read More"
      	},
		{
          "type": "url",
          "id": "about_info_button_url",
          "label": "Button URL"
      	},
		{
		  "type": "header",
          "content": "Image"
        },
		{
		   "type": "image_picker",
		   "id" : "about_info_image",
		   "label": "About Info Image",
		   "info": "Recommended Size: 241 x 415px"
		},
		{
			"type"		:	"checkbox",
			"id"		:	"about_info_image_enable",
			"label"		:	"Show Image",
			"default"	:	true
		},
		{
			"type"		:	"checkbox",
			"id"		:	"about_info_image_shape_enable",
			"label"		:	"Show Image Shap",
			"default"	:	true
		},
		{
			"type"		:	"image_picker",
			"id"		:	"about_info_shape_1",
			"label"		:	"About area shape one image",
		    "info"		:  "Recommended Size: 204 x 306px"
		},
		{
			"type"		:	"checkbox",
			"id"		:	"about_info_shape_1_enable",
			"label"		:	"Show Image",
			"default"	:	true
		},
		{
			"type"		:	"image_picker",
			"id"		:	"about_info_shape_2",
			"label"		:	"About area shape two image",
		    "info"		: "Recommended Size: 204 x 306px"
		},
		{
			"type"		:	"checkbox",
			"id"		:	"about_info_shape_2_enable",
			"label"		:	"Show Image",
			"default"	:	true
		},


		{
		  "type": "header",
          "content": "About Info Style"
        },
		{
		   "type": "color",
		   "id" : "about_info_sub_title_color",
		   "label": "Sub Title Color"
		},
		{
		   "type": "color",
		   "id" : "about_info_title_color",
		   "label": "Title Color"
		},
		{
		   "type": "color",
		   "id" : "about_info_description_color",
		   "label": "Description Color"
		},
		{
		   "type": "color",
		   "id" : "about_info_button_text_color",
		   "label": "Button Color"
		},
		{
		   "type": "color",
		   "id" : "about_info_button_text_bg_color",
		   "label": "Button Background Color"
		},
		{
		   "type": "color",
		   "id" : "about_info_button_text_border_color",
		   "label": "Button Border Color"
		},
        {
          "type"		:	"range",
          "id"			:	"about_info_button_border_radius",
          "min"			:	0,
          "max"			:	100,
          "step"		:	1,
          "label"		:	"Button Border Radius",
          "unit"		:	"px",
          "default"		:	50
        },
		{
		   "type": "color",
		   "id" : "about_info_button_hover_text_color",
		   "label": "Button Hover Color"
		},
		{
		   "type": "color",
		   "id" : "about_info_button_hover_text_bg_color",
		   "label": "Button Hover Background Color"
		},
		{
		   "type": "color",
		   "id" : "about_info_button_hover_text_border_color",
		   "label": "Button Hover Border Color"
		},
		{
		   "type": "color",
		   "id" : "about_info_image_shape_color",
		   "label": "Image Shape Color"
		}

			
	],

	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop/Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop/Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],


	"presets": [
		{
		  "name": "About Info",
		  "category": "5. about"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}