{%- if section.settings.banner_area_enable == true -%}
<!-- Banner Section Start -->
<div data-section="BannerActivation" class="banner-section {% unless template == 'index' %}section{% endunless %} {% if section.settings.snow_enable %}rel-area{%endif%}" id="section-{{ section.id }}">
  <div class="container">
    <div class="row {% if section.settings.small_row_space %}row-3{% endif %}">
      {% for block in section.blocks %}
      {% case block.type %}
      {% when 'banner' %}
      <div class="col-sm-{{ block.settings.banner_column }} col-12 mb-5">
        <div class="banner">
          {%- if block.settings.banner_image_1 -%}
          <a href="{{ block.settings.banner_image_1_url }}">
            <img class="lazyload" data-src="{{ block.settings.banner_image_1 | img_url: 'master' }}" alt="{{ block.settings.banner_image_1.alt }}">
            {%- if section.settings.snow_enable -%}
            <span class="effect-body ice_effect"></span>
            {%- endif -%} 
          </a>
          {%- else -%}
          <img src="https://dummyimage.com/600x400/cccccc/fff&text=Banner" alt="{{ block.settings.banner_image_1.alt }}">
          {%- endif -%}
          
          
        </div>
      </div>
      {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>
<!-- Banner Section End -->
{%- endif -%}


<style>  
  #section-{{ section.id }}{
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'section_margin' %}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {% when 'section_padding' %}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {% when 'section_background' %}    
    background: {{ block.settings.section_bg_color }} 
      {% if block.settings.section_bg_image %}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){% endif %} no-repeat scroll center center / cover;
        {% endcase %}
        {% endfor %}
        }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {% for block in section.blocks %}
      {% case block.type %}
      {% when 'section_margin' %}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {% when 'section_padding' %}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {% endcase %}
      {% endfor %}
    }
  }
 
</style>



{% schema %}
  {
    "name": "Banner",
    "settings": [
		{
           "type": "checkbox",
           "id": "banner_area_enable",
           "default": true,
           "label": "Show Banner Area"
        },
		{
           "type": "checkbox",
           "id": "small_row_space",
           "default": true,
           "label": "Small Row Space"
        },
        {
          "type": "header",
          "content": "Snow Fall"
        },
        {
            "type": "checkbox",
            "id": "snow_enable",
            "label": "Snow Fall Enable",
            "default": false		
        }
		
			
	],

	"blocks":[
		{
          "type": "banner",
          "name": "Banner",
          "settings": [
			{
			  "type": "range",
			  "id": "banner_column",
			  "min": 1,
			  "max": 12,
			  "step": 1,
			  "label": "Banner Column",
			  "unit": "/12",
			  "default": 6
			},
            {
                "type"		:	"image_picker",
                "id"		:	"banner_image_1",
                "label"		:	"Banner Image One"
            },
            {
                "type"		:	"url",
                "id"		:	"banner_image_1_url",
                "label"		:	"Banner Image One URL"
            }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop/Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop/Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Banner",
		  "category": "4. banner"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}