<!-- PAGE SECTION START -->
<div class="cart-page theme-default-margin">
  <div class="container">
    {%- if cart.item_count > 0 -%}
    <form action="/cart" method="post" enctype="multipart/form-data" novalidate>
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="cart-table table-responsive mb-40">
            <table>
              <thead>
                <tr>
                  <th class="pro-thumbnail">{{ section.settings.table_image_title }}</th>
                  <th class="pro-title">{{ section.settings.table_product_title }}</th>
                  <th class="pro-price">{{ section.settings.table_price_title }}</th>
                  <th class="pro-quantity">{{ section.settings.table_quantity_title }}</th>
                  <th class="pro-subtotal">{{ section.settings.table_total_title }}</th>
                  <th class="pro-remove">{{ section.settings.table_reomove_title }}</th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart.items %}
                <tr>
                  <td class="pro-thumbnail"><a href="{{ item.url }}"><img src="{{ item | img_url: 'compact' }}" alt="{{ item.title | escape }}" /></a></td>
                  <td class="pro-title">
                    <a href="{{ item.url }}">{{ item.product.title }}</a>
                    {%- unless item.variant.title contains 'Default' -%}
                    <span>{{ item.variant.title }}</span>
                    {%- endunless -%}
                    {% if section.settings.cart_vendor_enable %}
                    <p>{{ item.vendor }}</p>
                    {% endif %}
                  </td>
                  <td class="pro-price"><span class="amount">{{ item.price | money }}</span></td>
                  <td class="pro-quantity"><div class="product-quantity"><input type="text" value="{{ item.quantity }}" name="updates[]" /></div></td>
                  <td class="pro-subtotal">{{ item.line_price | money }}</td>
                  <td class="pro-remove"><a href="/cart/change?line={{ forloop.index }}&amp;quantity=0"><i class="fa fa-trash-o"></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-12 col-12">
          <div class="cart-buttons">
            <input class="theme-default-button" type="submit" value="{{ section.settings.update_button_title }}" />
            <a class="theme-default-button" href="/collections/all">{{ section.settings.continue_shopping_title }}</a>
            <a class="theme-default-button" href="/cart/clear">{{ section.settings.clear_cart_title }}</a>
          </div>
        </div>
        <div class="col-lg-12 col-12">
          <div class="cart-payment">
            <div class="row">
              {%- if section.settings.cart_feature_and_shipping_calculator_enable == true -%}
              <div class="col-lg-6">  
                {%- if section.settings.cart_feature == 'cart_note' -%}
                <div class="cart-coupon">
                  <h3>{{ section.settings.cart_note_title }}</h3>
                  <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                </div>
                {%- endif -%}
                {%- if section.settings.cart_feature == 'shipping_calculator' -%}
                {%- include 'cart-shipping-calculator' -%}
                {%- endif -%}
              </div>
              {%- endif -%}
              <div class="col-lg-6">
                <div class="cart-total">
                  <h3>{{ section.settings.cart_total_heading_title }}</h3>
                  <table>
                    <tbody>
                      <tr class="cart-subtotal">
                        <th>{{ section.settings.cart_subtotal_title }}</th>
                        <td><span class="amount"><span id="bk-cart-subtotal-price">{{ cart.total_price | money }}</span></span></td>
                      </tr>
                      <tr class="order-total">
                        <th>{{ section.settings.cart_total_title }}</th>
                        <td>
                          <strong><span class="amount"><span id="bk-cart-subtotal-price">{{ cart.total_price | money }}</span></span></strong>
                        </td>
                      </tr>											
                    </tbody>
                  </table>
                  {%- if cart.total_discounts > 0 -%}
                  {% assign savings = cart.total_discounts | money %}
                  <p>
                    <span class="cart-subtotal__savings"><em>{{ 'cart.general.savings_html' | t: price: savings }}</em></span>
                  </p>
                  {%- endif -%}
                  <div class="proceed-to-checkout">
                    <button type="submit" class="theme-default-button" name="checkout">{{ section.settings.checkout_button_title }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    {%- else -%}
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="empty-cart-page">
          <h2>{{ section.settings.shopping_cart_title }}</h2>
          <h3>{{ section.settings.cart_empty_title }}</h3>
          <p>{{ section.settings.cart_continue_title }} <a href="/collections/all">{{ section.settings.here_title }}</a></p>
        </div>
      </div>
    </div>
    {%- endif -%}
  </div>
</div>
<!-- PAGE SECTION END -->

<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->


<script>
  $('.product-quantity').append('<span class="dec qtybtn"> - </span><span class="inc qtybtn"> + </span>');
  $('.qtybtn').on('click', function() {
    var $button = $(this);
    var oldValue = $button.parent().find('input').val();
    if ($button.hasClass('inc')) {
      var newVal = parseFloat(oldValue) + 1;
    } else {
      // Don't allow decrementing below zero
      if (oldValue > 0) {
        var newVal = parseFloat(oldValue) - 1;
      } else {
        newVal = 0;
      }
    }
    $button.parent().find('input').val(newVal);
  });
</script>

<style>
  @media (max-width: 767px) {
    /* Force table to not be like tables anymore */
    .cart-table table, .cart-table thead, .cart-table tbody, .cart-table th, .cart-table td, .cart-table tr { 
      display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .cart-table thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .cart-table tr { border: 1px solid #ccc; }

    .cart-table td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }

    .cart-table td:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-right: 0;
      white-space: nowrap;
    }

    /*
    Label the data
    
    td:nth-of-type(1):before { content: "{{ section.settings.table_image_title }}"; }
    td:nth-of-type(2):before { content: "{{ section.settings.table_product_title }}"; }
    td:nth-of-type(3):before { content: "{{ section.settings.table_price_title }}"; }
    td:nth-of-type(4):before { content: "{{ section.settings.table_quantity_title }}"; }
    td:nth-of-type(5):before { content: "{{ section.settings.table_total_title }}"; }
    td:nth-of-type(6):before { content: "{{ section.settings.table_reomove_title }}"; }
    */
    .cart-table table tbody tr td.pro-thumbnail {
      width: auto;
    }
    .cart-table table tbody tr td.pro-thumbnail {
      width: auto;
      max-width: 100%;
      min-width: 100%;
      text-align: center;
    }
    .cart-table table tbody tr td.pro-thumbnail a {
      display: block;
      min-width: unset;
      width: auto;
    }
    .cart-table table tbody tr td.pro-thumbnail a img {
      width: auto;
      max-width: 100%;
    }
    .cart-table table tbody tr td.pro-title {
      width: auto;
    }
    .cart-table table tbody tr td.pro-price {
      width: auto;
    }
    .cart-table table tbody tr td.pro-quantity {
      width: auto;
    }
    .cart-table table tbody tr td.pro-subtotal {
      width: auto;
    }
    .cart-table table tbody tr td.pro-remove {
      width: auto;
    }
    .cart-table table tbody tr td.pro-remove a {
      width: auto;
    }
    .cart-table table tbody tr td {
      padding: 5px 5px;
    }
    .cart-table td.pro-thumbnail a {
      border: 0px solid #eee;
    }
    .cart-table table tbody tr td {
      border-bottom: 0px solid #ddd;
    }
  }
</style>







{% style %}


.cart-page .cart-table table thead tr th {
    background-color: {{ section.settings.cart_table_header_bg_color }};
    border-color: {{ section.settings.cart_table_header_border_color }};
    color: {{ section.settings.cart_table_header_color }};
}
.cart-table td.pro-title a {
    color: {{ section.settings.cart_table_product_title_color }};
}
.cart-table td.pro-title a:hover {
    color: {{ section.settings.cart_table_product_item_title_hover_color }};
}
.cart-table td.pro-title p {
    color: {{ section.settings.cart_table_product_item_vendor_color }};
}
.cart-table td.pro-price span {
    color: {{ section.settings.cart_table_product_price_color }};
}
.cart-table table tbody tr td.pro-quantity .product-quantity input,
.cart-table table tbody tr td.pro-quantity .product-quantity span {
    color: {{ section.settings.cart_table_product_count_color }};
    background-color: {{ section.settings.cart_table_product_count_bg_color }};
}
.cart-table td.pro-subtotal span {
    color: {{ section.settings.cart_table_product_subtotal_color }};
}
.cart-table td.pro-remove a {
    color: {{ section.settings.cart_table_product_delete_icon_color }};
}
.cart-table td.pro-remove a:hover {
    color: {{ section.settings.cart_table_product_delete_icon_hover_color }};
}
.cart-table table tbody tr td {
    border-color: {{ section.settings.cart_table_single_item_border_color }};
}
.cart-buttons .theme-default-button {
    background-color: {{ section.settings.cart_table_button_bg_color }};
    border-color: {{ section.settings.cart_table_button_border_color }};
    color: {{ section.settings.cart_table_button_color }};
}
.cart-buttons .theme-default-button:hover {
    background-color: {{ section.settings.cart_table_button_hover_bg_color }};
    border-color: {{ section.settings.cart_table_button_hover_border_color }};
    color: {{ section.settings.cart_table_button_hover_color }};
}




.culculate-shipping h3 {
    color: {{ section.settings.calculate_shipping_title_color }};
}
.culculate-shipping .theme-default-button {
    background-color: {{ section.settings.calculate_shipping_button_bg_color }};
    color: {{ section.settings.calculate_shipping_button_color }};
    border-color: {{ section.settings.calculate_shipping_button_border_color }};
}
.culculate-shipping .theme-default-button:hover {
    background-color: {{ section.settings.calculate_shipping_button_hover_bg_color }};
    color: {{ section.settings.calculate_shipping_button_hover_color }};
    border-color: {{ section.settings.calculate_shipping_button_hover_border_color }};
}



.cart-total {
    background-color: {{ section.settings.cart_total_bg_color }};
    color: {{ section.settings.cart_total_color }};
}
.cart-total h3 {
    color: {{ section.settings.cart_total_title_color }};
}
.cart-total .order-total th, 
.cart-total .order-total td {
    color: {{ section.settings.cart_total_order_color }};
}
tr.order-total {
    border-color: {{ section.settings.cart_total_order_border_color }};
}
.proceed-to-checkout .theme-default-button {
    background-color: {{ section.settings.proceed_to_checkout_button_bg_color }};
    color: {{ section.settings.proceed_to_checkout_button_color }};
    border-color: {{ section.settings.proceed_to_checkout_button_border_color }};
}
.proceed-to-checkout .theme-default-button:hover {
    background-color: {{ section.settings.proceed_to_checkout_button_hover_bg_color }};
    color: {{ section.settings.proceed_to_checkout_button_hover_color }};
    border-color: {{ section.settings.proceed_to_checkout_button_hover_border_color }};
}


{% endstyle %}




{% schema %}
  {
    "name": "Cart Page",
    "settings": [
		{
			"type": "header",
			"content": "Table Heading Title"
		},
		{
			"type": "text",
			"id": "table_image_title",
			"label": "Image Heading Title",
			"default": "Image"
		},
		{
			"type": "text",
			"id": "table_product_title",
			"label": "Product Heading Title",
			"default": "Product"
		},
		{
			"type": "text",
			"id": "table_price_title",
			"label": "Price Heading Title",
			"default": "Price"
		},
		{
			"type": "text",
			"id": "table_quantity_title",
			"label": "Quantity Heading Title",
			"default": "Quantity"
		},
		{
			"type": "text",
			"id": "table_total_title",
			"label": "Total Heading Title",
			"default": "Total"
		},
		{
			"type": "text",
			"id": "table_reomove_title",
			"label": "Remove Heading Title",
			"default": "Remove"
		},
		{
			"type": "header",
			"content": "Button Title"
		},
		{
			"type": "text",
			"id": "update_button_title",
			"label": "Update Button Title",
			"default": "Update Cart"
		},
		{
			"type": "text",
			"id": "continue_shopping_title",
			"label": "Continue Shopping Button Title",
			"default": "Continue Shopping"
		},
		{
			"type": "text",
			"id": "clear_cart_title",
			"label": "Clear Cart Button Title",
			"default": "Clear Cart"
		},
		{
			"type": "checkbox",
			"id": "cart_vendor_enable",
			"label": "Show Product Vendor",
			"default": false
		},
		{
			"type": "header",
			"content": "Cart Note / Shipping Calculator"
		},
		{
			"type": "checkbox",
			"id": "cart_feature_and_shipping_calculator_enable",
			"label": "Shipping & Cart Note Enable",
			"default": true
		},
		{
            "type": "radio",
            "id": "cart_feature",
            "label": "Show Any One",
            "options": [
                {
                    "value": "shipping_calculator",
                    "label": "Shipping Calculator"
                },
                {
                    "value": "cart_note",
                    "label": "Cart Note"
                }
            ],
            "default": "shipping_calculator"
        },
		{
			"type": "text",
			"id": "shipping_calculator_heading",
			"label": "Shipping Calculator Title",
			"default": "Get shipping estimates"
		},
		{
			"type": "text",
			"id": "shipping_calculator_button_title",
			"label": "Shipping Calculator Button Title",
			"default": "Calculate shipping"
		},
		{
			"type": "text",
			"id": "cart_note_title",
			"label": "Cart Note Title",
			"default": "Special instructions for seller"
		},
		{
			"type": "header",
			"content": "Cart Totals"
		},
		{
			"type": "text",
			"id": "cart_total_heading_title",
			"label": "Cart Total Heading Title",
			"default": "Cart Totals"
		},
		{
			"type": "text",
			"id": "cart_subtotal_title",
			"label": "Cart Subtotal Title",
			"default": "Subtotal"
		},
		{
			"type": "text",
			"id": "cart_total_title",
			"label": "Cart Total Title",
			"default": "Total"
		},
		{
			"type": "text",
			"id": "checkout_button_title",
			"label": "Checkout Button Title",
			"default": "Proceed to Checkout"
		},
		{
			"type": "header",
			"content": "Cart Empty"
		},
		{
			"type": "text",
			"id": "shopping_cart_title",
			"label": "Shopping Cart Title",
			"default": "Shopping Cart"
		},
		{
			"type": "text",
			"id": "cart_empty_title",
			"label": "Cart Empty Title",
			"default": "Your cart is currently empty."
		},
		{
			"type": "text",
			"id": "cart_continue_title",
			"label": "Continue Browsing Title",
			"default": "Continue browsing"
		},
		{
			"type": "text",
			"id": "here_title",
			"label": "Here Title",
			"default": "here"
		},

		{
		  "type"	: "header",
          "content"	: "Cart Table Style"
        },
		{
		   "type"	: "color",
		   "id" 	: "cart_table_header_bg_color",
		   "label"	: "Table Header Background Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_header_color",
		   "label"	: "Table Header Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_header_border_color",
		   "label"	: "Table Header Border Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_product_title_color",
		   "label"	: "Table Product Title Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_product_item_title_hover_color",
		   "label"	: "Table Product Title Hover Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_product_item_vendor_color",
		   "label"	: "Table Product Item Vendor Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_product_price_color",
		   "label"	: "Table Product Price Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_product_count_color",
		   "label"	: "Table Product Item Count Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_product_count_bg_color",
		   "label"	: "Table Product Item Count Background Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_product_subtotal_color",
		   "label"	: "Table Product Item Subtotal Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_product_delete_icon_color",
		   "label"	: "Table Product Item delete Icon Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_product_delete_icon_hover_color",
		   "label"	: "Table Product Item delete Icon Hover Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_single_item_border_color",
		   "label"	: "Table Single Item Border Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_button_bg_color",
		   "label"	: "Button Background Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_button_color",
		   "label"	: "Button Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_button_border_color",
		   "label"	: "Button Border Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_button_hover_bg_color",
		   "label"	: "Button Hover Background Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_button_hover_color",
		   "label"	: "Button Hover Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_table_button_hover_border_color",
		   "label"	: "Button Hover Border Color"
		},

		{
		  "type"	: "header",
          "content"	: "Culculate Shipping Style"
        },
		{
		   "type"	: "color",
		   "id" 	: "calculate_shipping_title_color",
		   "label"	: "Calculate Shipping Title Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "calculate_shipping_button_bg_color",
		   "label"	: "Button Background Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "calculate_shipping_button_color",
		   "label"	: "Button Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "calculate_shipping_button_border_color",
		   "label"	: "Button Border Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "calculate_shipping_button_hover_bg_color",
		   "label"	: "Button Hover Background Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "calculate_shipping_button_hover_color",
		   "label"	: "Button Hover Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "calculate_shipping_button_hover_border_color",
		   "label"	: "Button Hover Border Color"
		},

		{
		  "type"	: "header",
          "content"	: "Proceed to Checkout Style"
        },
		{
		   "type"	: "color",
		   "id" 	: "cart_total_bg_color",
		   "label"	: "Cart Total Background Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_total_color",
		   "label"	: "Cart Total Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_total_title_color",
		   "label"	: "Cart Total Title Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_total_order_color",
		   "label"	: "Cart Total Order Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "cart_total_order_border_color",
		   "label"	: "Cart Total Order Border Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "proceed_to_checkout_button_bg_color",
		   "label"	: "Button Background Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "proceed_to_checkout_button_color",
		   "label"	: "Button Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "proceed_to_checkout_button_border_color",
		   "label"	: "Button Border Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "proceed_to_checkout_button_hover_bg_color",
		   "label"	: "Button Hover Background Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "proceed_to_checkout_button_hover_color",
		   "label"	: "Button Hover Color"
		},
		{
		   "type"	: "color",
		   "id" 	: "proceed_to_checkout_button_hover_border_color",
		   "label"	: "Button Hover Border Color"
		}
	]
  }
{% endschema %}