<!-- Video Area -->
<div class="video-banner" id="section-{{ section.id }}">
  <div class="container">
    <!-- Section Title Start -->
    {%- if section.settings.section_title != '' or section.settings.section_brief != '' -%}
    <div class="row">
      <div class="col">
        {% assign text_alignment = section.settings.section_title_alignment %}
        <div class="section-title mb-60 mb-xs-40 {% if section.settings.section_title_border == true %} section-title-border {% endif %} {% if text_alignment == 'content_left' %}text-left 
                    {% elsif text_alignment == 'content_right' %}text-right {% else %}text-center{% endif %}">
          {%- if section.settings.section_title != '' -%}
          <h1>{{ section.settings.section_title }}</h1>
          {%- endif -%}

          {%- if section.settings.section_brief != '' -%}
          <p>{{ section.settings.section_brief }}</p>
          {%- endif -%}
        </div>
      </div>
    </div><!-- Section Title End -->
    {%- endif -%}
    <div class="row">
      <div class="col-lg-12">
        <div class="video-area text-center">
          <div class="static_video">
            {% if section.settings.video_thumbnail_image %}
            <img class="img_static" src="{{ section.settings.video_thumbnail_image | img_url: '1170x500', crop: 'center' }}" alt="image" />
            {% else %}
            <img class="img_static" src="https://via.placeholder.com/1170x500" alt="image" />
            {% endif %}
            {% if section.settings.video_type_handle == 'popup_banner' %}
            <div id="cms_play"><a class="video-popup-banner fancybox.iframe" href="http://www.youtube.com/embed/{{ section.settings.video_url.id }}?autoplay=1"><img src="{{ 'play-btn-2.png' | asset_url }}" alt="image" /></a></div>
            {% elsif section.settings.video_type_handle == 'normal_banner' %}
            <div id="cms_play"><img src="{{ 'play-btn-2.png' | asset_url }}" alt="image" /></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Our Video Area -->



{%- style -%}
  #section-{{ section.id }}{
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'section_margin' %}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {% when 'section_padding' %}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {% when 'section_background' %}    
    background: {{ block.settings.section_bg_color }} 
      {% if block.settings.section_bg_image %}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){% endif %} no-repeat scroll center center / cover;
    {% endcase %}
    {% endfor %}
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {% for block in section.blocks %}
      {% case block.type %}
      {% when 'section_margin' %}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {% when 'section_padding' %}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {% endcase %}
      {% endfor %}
    }
  }
  .static_video #cms_play {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

{%- endstyle -%}

{%- if section.settings.video_type_handle == 'popup_banner' -%}
{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery.fancybox.min.js' | asset_url }}"></script>

<script>
  $(document).ready(function() {
    $(".video-popup-banner").fancybox({
      maxWidth	: 800,
      maxHeight	: 600,
      fitToView	: false,
      width		: '70%',
      height		: '70%',
      autoSize	: false,
      closeClick	: false,
      openEffect	: 'none',
      closeEffect	: 'none'
    });
  });
</script>

{%- elsif section.settings.video_type_handle == 'normal_banner' -%}
<script>
  function getId(url) {
    var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
    var match = url.match(regExp);

    if (match && match[2].length == 11) {
      return match[2];
    } else {
      return 'error';
    }
  } 

  var videoId = getId('{{ section.settings.video_url }}');
                      var video_frame_w= $(".img_static").outerWidth();
  var video_frame_h= $(".img_static").outerHeight();
  $('#cms_play').click(function(){
    $(this).hide('fast');
    $(".img_static").fadeOut('fast');
    $('.static_video').append('<iframe class="added_video" width="'+video_frame_w+'px" height="'+video_frame_h+'px" src="https://www.youtube.com/embed/'+videoId+'?rel=0&autoplay=1" frameborder="0"></iframe>');
  }); 
</script>
{%- endif -%}



{% schema %}
  {
    "name": "Video Banner",
    "settings": [
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
			"type"		:	"text",
			"id"		:	"section_title",
			"label"		:	"Section Title",
			"default"	:	"Section Title"
		},
		{
			"type"		:	"textarea",
			"id"		:	"section_brief",
			"label"		:	"Section Title",
			"default"	:	"Some of our customers say that they trust us and buy our product without any hesitation because they believe us and always happy to buy our product."
		},
		{
			"type"		:	"checkbox",
			"id"		:	"section_title_border",
			"label"		:	"Section Title Border",
			"default"	:	true
		},
        {
        	"type"		: 	"radio",
        	"id"		:	"section_title_alignment",
        	"label"		: 	"Content Alignment",
        	"options"	:	[
              {
                  "label"		: "Left",
                  "value"		: "content_left"
              },
              {
                  "label"		: "Right",
                  "value"		: "content_right"
              },
              {
                  "label"		: "Center",
                  "value"		: "content_center"
              }
          	],
        	"default"	: 	"content_left"
        },
		{
			"type": "header",
            "content": "Video Option"
        },
		{
          "type": "radio",
          "id": "video_type_handle",
          "label": "Video Type",
		  "options":[
				{
                    "label": "Popup",
                    "value": "popup_banner"
                },
                {
                    "label": "Normal",
                    "value": "normal_banner"
                }
			],
			"default": "popup_banner"
      	},
		{
          "type": "image_picker",
          "id": "video_thumbnail_image",
          "label": "Video Thumbnail Image",
		  "info": "Recommended Size: 1170 x 500px"
      	},
		{
           "id": "video_url",
           "type": "video_url",
           "label": "Video URL",
           "accept": ["youtube", "vimeo"],
           "default": "https://www.youtube.com/watch?v=8uFEVF6aTR4"
        }
	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop/Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop/Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Video Banner",
		  "category": "6. others",
		  "blocks":[
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}